.cardContainer{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;

    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: #ffffff;

    padding-bottom: 15px;

    border-radius: 25px;
    box-shadow: 3px 5px 16px 7px rgba(0,0,0,0.07);
    -webkit-box-shadow: 3px 5px 16px 7px rgba(0,0,0,0.07);
    -moz-box-shadow: 3px 5px 16px 7px rgba(0,0,0,0.07);

}
.cardContainer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
}

.temp1{
    padding: 20px;
    padding-bottom: 0;
    height: 50%;

}
.temp2{
    font-size: 15px;

}
.temp3{

    font-size: 20px;

}
.temp4{
    font-size: 20px;
    color: white;
    font-weight: 700;
    background: linear-gradient(145deg, #19dc8b, #15b975);  
    height: 40px;
    width: 150px;
    border-radius: 30px;
}
.temp4:hover{
    background: linear-gradient(20deg, #19dc8b, #10955d);  
}