footer{

    display: flex;

    /* sends footer to bottom */
    margin-top: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100%;
    border-radius: 0px 0px 25px 25px;

    background-color: #64DEA8;
}