.shopPage{

    background-color: #FCFCFC;
    display: flex;

    /* alinea verticalmente */
    flex-direction: column;
    align-items: center; 


    width: 100%;
    min-height: 100vh;
    border-radius: 25px;
}



.shopTitle{
    font-size: 40px;
    margin: 5px;
}


.productListContainer{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin:  70px;
    margin-top: 20px;
   
}

.loadingDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

